$breakpoint-sm: 576px;
$breakpoint-md: 768px;
.categories {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  height: 78px;
  ul {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    // width: 1285px;
    display: flex;
    justify-content: space-between;
    li {
      list-style-type: none;
      font-weight: bold;
      cursor: pointer;
      color: #cfcfcf;
      transition: color 0.1s ease-in-out;
      &:hover {
        color: rgba(182, 182, 218, 1);
      }
      &.active {
        color: rgb(255, 94, 0);
      }
      // &:active {
      //   background-color: darken(#f9f9f9, 5%);
      // }
    }
  }
  @media (min-width: $breakpoint-md) {
    font-size: 11px;
  }
}
