$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
.WrapperContacts {
    margin: 0 auto;

    width: 34%;
    min-width: 300px;
    padding-bottom: 20px;

    background-color: rgba(46, 43, 44, 1);
    opacity: 1;
    border: solid rgba(46, 43, 44, 0.1);
    .contactText {
        padding: 35px 0px 35px 50px;
    }
    .informationContact {
        padding: 20px 0px 20px 52px;
        border-top: 2px solid rgba(255, 255, 255, 0.1);
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        .WrapImg {
            display: flex;
        }
        img {
            height: 24px;
            width: 24px;
        }
    }
    .NumberWrap {
        display: flex;
        padding: 20px;
        font-size: 15px;
        gap: 30px;
        button {
            text-align: center;

            width: 50%;
            min-width: 114px;
            padding: 10px;
            height: 59px;
            background: linear-gradient(
                180deg,
                rgb(97, 137, 103) 0%,
                rgb(113.86, 163.62, 121.11) 100%
            );
            border-radius: 10px;
        }
        .Number {
            text-align: center;
        }
    }
    .socialMedia {
        padding-top: 15px;
        display: flex;
        width: 60%;
        gap: 5px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        .wrapImg{
            display: flex;
            gap: 15px;
        }
    }
    .NumberWrap {
        @media (max-width: 1085px) {
            flex-direction: column-reverse;
            gap: 10px;
            align-items: center;
        }
    }
    .socialMedia {
        @media (max-width: 1000px) {
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }
        
    }
}
