$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
.footer{
    box-sizing: border-box;
    width: 100%;
    
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 10px;
    height: 195px;
    background: linear-gradient(180deg, rgb(68, 64, 63) 0%, rgb(33, 31, 32) 100%);
    a{
        text-decoration: none;
    }
    button{
        width: 64px;
        height: 64px;
        border-radius:30px;
    }
    .Logos{
        margin-left: 55px;
    }
    .footerInformation{
        display: flex;
        text-align: center;
        gap: 45px;
        @media (max-width: 832px) {
            flex-direction: column;
            gap: 5px;
           }

    }
    @media (max-width: 1010px) {
   font-size: 12px;
  }
  @media (max-width: 523px) {
    font-size: 8px;
   }
   @media (max-width: 365px) {
    font-size: 8px;
   }
 
}