$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
.WrapperOurCafe {
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 5px;
    height: 580px;
    display: flex;

    align-items: center;
    justify-content: space-between;
    background-image: url(../assets/image/MaskGroup.png);
    background-repeat: space;
    background-size: cover;
    padding: 60px;
    .WrapInformation {
        max-width: 570px;
        button {
            margin-top: 65px;
            padding: 20px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
    .WrapBlockCafes {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
        align-items: center;

        gap: 20px;

        .blockCafe {
            max-width: 165px;
            max-height: 165px;

            padding: 20px;
            display: flex;
            flex-direction: column;
            //   width: calc(50% - 10px);
            background-color: rgba(80, 75, 74, 0.9);
            align-items: center;
            text-align: center;
            p {
                padding-top: 40px;
            }
            &:active {
                backdrop-filter: blur(10px);
            }
            @media (max-width: 577px) {
                font-size: 8px;
            }
        }
        @media (max-width: 928px) {
            margin-left: 10px;
        }
    }
    @media (max-width: 676px) {
        font-size: 14px;
        img {
            height: 50px;
            width: 50px;
        }
    }
    @media (max-width: 577px) {
        font-size: 12px;
        img {
            height: 30px;
            width: 30px;
        }
    }
    @media (max-width: 1043px) {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 20px;
        text-align: center;
    }
    .WrapBlockCafes {@media (max-width: 395px) {
        display: none;
        }}
    
}
.WrapperBack {
    width: 100%;
    height: 1300px;
    background: linear-gradient(
            to bottom,
            rgba(33, 31, 32, 1) 40%,
            transparent 60%
        ),
        url(../assets/image/Map.png) center/cover;
        padding-bottom: 100px;
}
