.WrapperProductCartComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;

    .goBack {
        display: flex;
        width: 95%;
        justify-content: start;
        margin-top: 45px;
        margin-bottom: 30px;
        button {
            width: 26px;
            height: 26px;
            border-radius: 30px;
            background: linear-gradient(
                180deg,
                rgb(97, 137, 103) 0%,
                rgb(113.86, 163.62, 121.11) 100%
            );
        }
        h3 {
            margin-left: 10px;
        }
    }
    .ProductCart {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            height: 400px;
            @media (max-width: 1200px) {
                height: 350px;
            }
            // @media (max-width: 992px) {
            //     height: 250px;
            // }
        }
        align-items: center;
        .ProductCartInformationName {
            margin-left: 45px;
            p {
                margin-top: 18px;
            }
            @media (max-width: 768px) {
                margin-left: 25px;
            }
        }
        .ProductCartInformationWeight {
            // margin-top: 115px;
            margin-left: 45px;
            .WrapBasketButton {
                margin-top: 25px;
                display: flex;
                align-items: center;
                h3 {
                    margin-left: 25px;
                }
                button {
                    background: linear-gradient(
                        180deg,
                        rgb(97, 137, 103) 0%,
                        rgb(113.86, 163.62, 121.11) 100%
                    );
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    padding: 15px;

                    .bagWrap {
                        margin-left: 20px;
                        padding-left: 15px;
                        border-left: solid 2px;
                        img {
                            height: 19px;
                            width: 19px;
                        }
                    }
                }
            }
            @media (max-width: 768px) {
                margin-left: 25px;
            }
        }
        .ProductCartInformationProtein {
            align-items: center;
            .BJU {
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                margin-left: 45px;
                align-items: center;
                @media (max-width: 768px) {
                    margin-left: 25px;
                }
            }
            .BJUN {
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                margin-left: 45px;
                align-items: center;
                @media (max-width: 768px) {
                    margin-left: 25px;
                }
            }
        }
    }
    .ProductCartInformation {
        @media (max-width: 1373px) {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 20px;
            padding: 20px;
        }
    }
}
.Contacts {
    height: 512px;
    // width: 100%;
    padding-top: 70px;
    background-image: url(../assets/image/Map.png);
    background-repeat: space;
    background-size: cover;
    margin-top: 80px;
    padding-bottom: 20px;
}
